<!-- Tutorials Grid Section -->
<!-- Images must have 1200x675 pixels -->
<div class="portfolio-grid">
    {% for item in site.workouts %}
    <div class="portfolio-cell">
        <a href="{{ item.url | relative_url }}" class="portfolio-link" data-keyboard="true">
            <div class="caption" title="{{ item.title }}">
                <div class="caption-content">
                    <i class="fa fa-search-plus fa-2x"></i>
                </div>
            </div>
            <img src="{{ item.img | relative_url }}" class="" alt="">
            <h5 style="text-align: center;">{{item.description}}</h5>
        </a>
    </div>
    {% endfor %}
</div>
